
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-user-outline:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */